  /* form css */
    .progress-wrap {
       display: flex;
       flex-direction: row;
    }

        
     .progress-wrap div{
      cursor: pointer;
         display: flex;
         justify-content: center;
         align-items: center;
        width: 100px; height: 20px;
        border: 1px solid red;
    }

     .progress-step1 {
        background-color: pink;
    }
    
   .active {
        background-color: pink;
    }

    span {
      color: red;
    }



