    * {
        box-sizing: border-box;
    }

    body {
        margin: 0px;
        padding: 0px
    }

    a {
        text-decoration: none;
        color: #333;
    }

    button {
        cursor: pointer;
    }
    /* 헤더 푸터 영역 css */
    .header-wrap {
        background-color: antiquewhite;
        height: 60px;
    }
    .nav-wrap {
        display: block;
        width: 220px;
        height: calc(100vh - 130px);
        background-color: rgb(255, 228, 178);
    }
    .footer-wrap {
        background-color: lightgreen;
        height: 70px;
    }

    .main-wrap {
        display: flex;
         height: calc(100vh - 130px);         
    }


    .content_title {
        height: 44px;
        display: flex;
        justify-content: space-between;
        padding: 10px 18px;
        border-bottom: 1px solid #ccc;
   
    }

        .content-wrap {
        width: calc(100vw - 220px);
        height: calc(100vh - 174px);
    
        padding:0px 18px 18px 18px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .content-foot {
        background-color: azure;
        height: 32px;
        display: flex;
        justify-content: flex-end;
    }


    
    .progress-bar{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 14px;
        padding-top: 8px;
    }

    .progress-bar-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .progress-bar-item__line {
        width: 130px;
        height: 4px;
        background-color: rgb(93, 172, 119);
    }

.step-section {
    border: 1px solid salmon;
    overflow-y: auto;
}

.step-section__title {
    display: flex;
}

.form-body {
    display: flex;

}

.form-wrap {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.modify-form {
    border: 1px solid #ccc;
    width: 100%;
}

.modify-form ul li dl {
    display: flex;
    width: 100%;
    min-height: 38px;
    border-bottom: 1px solid #ccc;
   
}
.modify-form ul li:last-child dl{
    border-bottom: none;
}

.form-item dl dt {
    width: 188px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F8FE;
    border-right:  1px solid #ccc;
    
}

.form-item dl dd {
    width: calc(100% - 188px);
    padding: 4px 16px;
    display: flex;
    gap: 4px;
}

.form__textarea {
    border: 1px solid #777;
}

.label__required::before {
    content: "*";
    color: orangered;
    position: relative;
    position: relative;
    top: 3px;
    left: -3px;
}

label{
    white-space: nowrap;
}

.form-item__radio-group {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-right: 4px;
}

.form-item__date {
    border: 1px solid #777;
}


.form-item__content--col{
    flex-direction: column;
    gap: 4px;
}

.flex--row{
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.form__input {
    width: 100%;
    border: 1px solid #777;
}

.form__input--m{
     width: 161px;
}

.form__btn--search {
    width: 28px;
    height: 28px;
    background-image: url(/layout/StarIcon.svg);
    background-size: 85% 85%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #333;
}

.form__btn-group {
    display: flex;
    align-items: center;
    gap: 4px
}


/* file 찾기 커스텀*/
.filebox .upload-name {
    width: 250px;
    height: 34px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    color: #999999;
}

.filebox-title {
    display: inline-block;
    width: 92px;
    margin-right: 4px;
    font-size: 14px;
    text-align: right;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.upload-btn {
    padding: 5px 15px;
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
    height: 15px;
    margin-left: 10px;
    background-image: url(/layout/StarIcon.svg);
    background-size: 85% 85%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
}
/* size에 대한....*/
.item__size--l {
    width: 100%;
}

.item__size--m {
    width: 50%;
}

.item__size--s {
    width: calc(100%/3);
}


.form-item--two{
    display: flex;
}


.step-section--02 {
    display: none;
}