    * {
        box-sizing: border-box;
    }

    body {
        margin: 0px;
        padding: 0px
    }

    a {
        text-decoration: none;
        color: #333;
    }
    /* 헤더 푸터 영역 css */
    .heder-wrap {
        background-color: antiquewhite;
        height: 60px;
    }
    .footer-wrap {
        background-color: lightgreen;
        height: 150px;
    }

    .appWrap {
        display: flex;
         height: calc(100vh - 210px);
    }

    .content {
        width: calc(100vw - 240px);
        background-color: azure;
    }

    .menu-btn {
        height: 60px;
        background-color: pink;
        cursor: pointer;
    }
    /* nav-wrap css */
    .nav-wrap {
        display: block;
        width: 240px;
        height: calc(100vh - 210px);
        padding: 0px;
        overflow: visible;
        transition: all 0.3s ease;
        background: white;
        border-right: 1px solid #ddd;
        position: relative;
        z-index: 10;
    }
    
   /* 
    .nav-wrap:hover {
        width: 240px;
    } */

    .menu-item {
        display: flex;
        align-items: center;
        padding: 20px 12px 0px 12px;
        flex-direction: column !important;
        cursor: pointer;
    }

    .depth1-wrap {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        margin-left: 13px;
    }

    .nav-wrap:hover .menu-text {
        opacity: 1;
    }

    .menu-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 160px;
        height: 28px;
        opacity: 1;
        margin-left: 8px;
        transition: opacity 0.3s ease;
    }
        
    .menu-text p {
        white-space: noWrap;
    }

    .icon {
        width: 20px;
        height: 20px;
    }

    .depth2-wrap li {
        flex-direction: column;
    }
        
    .depth2-wrap,
    .depth3-wrap {
        display: none;
    }
        
    .depth2-wrap.open {
        display: block;
        width: 100%;
        padding: 10px 10px 0px 14px;
    }

    .depth2-wrap.open li {
        width: 100%;
        position: relative;   
    }

    .depth2-text {
        width: 100%;
        height: 30px;
        padding: 2px 0px 2px  33px;
        display: flex;
        justify-content: space-between;
    }

    .depth2-text svg {
         transform: rotate(90deg) scaleY(-1); 
    }
    

    .depth3-wrap.open {
        position: absolute;
        top: 0;
        left: 230px; /* 열렸을때의 nav-wrap 너비 만큼 left 해줌 */
        z-index: 100;
        display: block;
        width: 100%;
    }
/* 구분선 css */
        .nav-wrap hr {
        width: 200px;
        margin-top: 16px;
        margin-bottom: 0;
        border: 0;
        border-top: 1px solid #D6D9E0;

    }

    .nav-wrap:hover hr {
        width: 200px;
    }


  